In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# creating a path to load data fames to python 
path = r"C:\Users\pshan\Downloads\InstaCart Basket Analysis"

In [3]:
# loading orders_products_combined dataset into jupytor
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# dropping the _merge column as it is of no use here
df_orders_products_combined.drop(columns = '_merge', inplace = True)

In [5]:
# checking shape of imported data set
df_orders_products_combined.shape

(32434489, 9)

In [6]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [7]:
# loading products_checked dataset into jupytor
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [8]:
df_prods.shape

(49672, 5)

In [9]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
# merging the 2 data frames on 'product_id' as it appears in both of data sets
df_merged_large = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [12]:
# cheking shape of newly merged data frame 
df_merged_large.shape

(32404859, 14)

In [13]:
# exporting the dataframwe
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))