# 4.10 Instacart Final Task

## Contents

### Importing Libraries and Dataframes
### Create regional segmentation of data
### Determine whether there’s a difference in spending habits between the different U.S. regions
### Create an exclusion flag for low-activity customers
### Exporting the data set

In [1]:
# import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# creating a path to load data fames to python 
path = r"C:\Users\pshan\Downloads\InstaCart Basket Analysis"

In [4]:
ords_prods_custs  = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'custs_ords_prods.pkl'))

In [6]:
ords_prods_custs.shape

(32404859, 32)

In [7]:

# Assign regions using .loc
ords_prods_custs.loc[ords_prods_custs['state'].isin([
    'Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 
    'Connecticut', 'New York', 'Pennsylvania', 'New Jersey'
]), 'region'] = 'Northeast'

ords_prods_custs.loc[ords_prods_custs['state'].isin([
    'Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 
    'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri'
]), 'region'] = 'Midwest'

ords_prods_custs.loc[ords_prods_custs['state'].isin([
    'Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 
    'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 
    'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 
    'Louisiana'
]), 'region'] = 'South'

ords_prods_custs.loc[ords_prods_custs['state'].isin([
    'Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 
    'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 
    'California', 'Hawaii'
]), 'region'] = 'West'

In [8]:
# to verify the results
ords_prods_custs[['state','region']].tail(20)

              state region
32404839     Hawaii   West
32404840     Hawaii   West
32404841     Hawaii   West
32404842     Hawaii   West
32404843     Hawaii   West
32404844     Hawaii   West
32404845     Hawaii   West
32404846     Hawaii   West
32404847     Hawaii   West
32404848     Hawaii   West
32404849     Hawaii   West
32404850     Hawaii   West
32404851     Hawaii   West
32404852     Hawaii   West
32404853     Hawaii   West
32404854     Hawaii   West
32404855  Tennessee  South
32404856  Tennessee  South
32404857  Tennessee  South
32404858  Tennessee  South

### Determine whether there’s a difference in spending habits between the different U.S. regions

In [16]:
# Crosstab Region to spending flag
crosstab = pd.crosstab(ords_prods_custs['region'], ords_prods_custs['income'], dropna = False)

In [17]:
crosstab.to_clipboard()

###  Creating an exclusion flag for low-activity customers (customers with less than 5 orders)

In [9]:
# Create a flag for customers with less than 5 orders
ords_prods_custs.loc[ords_prods_custs['max_order'] < 5, 'activity_flag'] = 'low-activity customer'
ords_prods_custs.loc[ords_prods_custs['max_order'] >= 5, 'activity_flag'] = 'high-activity customer'

In [10]:
# verifying
ords_prods_custs['activity_flag'].value_counts(dropna = False)

activity_flag
high-activity customer    30964564
low-activity customer      1440295
Name: count, dtype: int64

In [15]:
# exporting the data frame
ords_prods_custs.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_custs_1.pkl'))

In [16]:
# Exclude low-activity customers from the dataframe
ords_prods_custs_excluded = ords_prods_custs[ords_prods_custs['activity_flag'] != 'low-activity customer']

In [17]:
# Exporting the new dataframe
ords_prods_custs_excluded.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_custs_excluded.pkl'))